In [23]:
import numpy as np
import pandas as pd

In [24]:
open('sochiAD.csv')

In [25]:
import codecs
with codecs.open("sochiAD.csv", "r",encoding='utf-8', errors='ignore') as file_data:
     sochiAD_raw = pd.read_csv(file_data)

In [26]:
sochiAD_raw.tail()

       hashtag1     hashtag2  Weights
112133     TRUE         gold      1.0
112134     TRUE       hockey      1.0
112135     TRUE   GoCanadaGo      1.0
112136     TRUE   TeamCanada      1.0
112137     TRUE  WeAreWinter      1.0

In [27]:
open('sochiBL.csv')

In [28]:
import codecs
with codecs.open("sochiBL.csv", "r",encoding='utf-8', errors='ignore') as file_data :
     sochiBL_raw = pd.read_csv(file_data)

In [29]:
sochiBL_raw.tail()

       hashtag1   hashtag2  Weights
63526  zzkrepko       love      1.0
63527  zzkrepko        rus      1.0
63528  zzkrepko    russian      1.0
63529  zzkrepko      video      1.0
63530     zzzzz  Sochi2014      2.0

In [30]:
open('sochiEX.csv')

In [31]:
import codecs
with codecs.open("sochiEX.csv", "r",encoding='utf-8', errors='ignore') as file_data :
     sochiEX_raw = pd.read_csv(file_data)

In [32]:
sochiEX_raw.tail()

       hashtag1   hashtag2  weights
62188  zzkrepko       love      1.0
62189  zzkrepko        rus      1.0
62190  zzkrepko    russian      1.0
62191  zzkrepko      video      1.0
62192     zzzzz  Sochi2014      2.0

In [35]:
sochiAD_raw.dtypes

hashtag1     object
hashtag2     object
Weights     float64
dtype: object

In [36]:
sochiBL_raw.dtypes

hashtag1     object
hashtag2     object
Weights     float64
dtype: object

In [37]:
sochiEX_raw.dtypes

hashtag1     object
hashtag2     object
weights     float64
dtype: object

In [38]:
sochiEX_raw['hashtag1'].value_counts()

Sochi2014                       4421
Sochi                           1370
sochi2014                       1295
sochi                           1025
Olympics                         732
                                ...
MARXISTCONSPIRACY                  1
onceacrusaderalwaysacrusader       1
Ol                                 1
olympicproblems                    1
NoMedalForKessel                   1
Name: hashtag1, Length: 11358, dtype: int64

In [39]:
sochiAD_raw['hashtag1'].value_counts()

Sochi2014         4840
sochi2014         1516
Sochi             1395
Olympics          1198
TeamUSA           1184
                  ...
YuzuruHanyuJPN       1
USAxFIN              1
MentalFranÌ¤ais       1
LastTweet            1
beardboys            1
Name: hashtag1, Length: 18083, dtype: int64

In [40]:
sochiBL_raw['hashtag1'].value_counts()

Sochi2014     4893
sochi2014     1570
Sochi         1441
sochi         1163
Olympics       732
              ...
FinlandWho       1
zombies          1
traitor          1
DYK              1
ygk              1
Name: hashtag1, Length: 11331, dtype: int64

In [42]:
sochiBL_raw.describe(include="all")

         hashtag1   hashtag2       Weights
count       63531      63531  63530.000000
unique      11331      11357           NaN
top     Sochi2014  Sochi2014           NaN
freq         4893       5554           NaN
mean          NaN        NaN      4.357343
std           NaN        NaN     41.932953
min           NaN        NaN      1.000000
25%           NaN        NaN      1.000000
50%           NaN        NaN      1.000000
75%           NaN        NaN      2.000000
max           NaN        NaN   5935.000000

In [43]:
sochiAD_raw.describe(include="all")

         hashtag1   hashtag2        Weights
count      112125     112118  112137.000000
unique      18083      19021            NaN
top     Sochi2014  Sochi2014            NaN
freq         4840       5505            NaN
mean          NaN        NaN       3.618262
std           NaN        NaN      27.082958
min           NaN        NaN       1.000000
25%           NaN        NaN       1.000000
50%           NaN        NaN       1.000000
75%           NaN        NaN       2.000000
max           NaN        NaN    3617.000000

In [44]:
sochiEX_raw.describe(include="all")

         hashtag1   hashtag2       weights
count       62193      62193  62192.000000
unique      11358      11302           NaN
top     Sochi2014  Sochi2014           NaN
freq         4421       5582           NaN
mean          NaN        NaN      4.209705
std           NaN        NaN     34.664315
min           NaN        NaN      1.000000
25%           NaN        NaN      1.000000
50%           NaN        NaN      1.000000
75%           NaN        NaN      2.000000
max           NaN        NaN   3607.000000